* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.sideNav {
    width: 250px;
    height: 100%;
    /*background: #3B8BEB;*/
    background: #4056A1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 30px;
    border-radius: 0 12px 12px 0;
    overflow-y: auto;
    scroll-behavior: smooth;

}

.logo {
    display: block;
    margin-bottom: 70px;
}

.logoImg {
    display: flex;
    justify-content: center;
}

.navLinks {
    list-style: none;
    position: relative;
}

.navLinks li {
    padding: 10px 0;
}

.navLinks li a {
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.navLinks li:hover a {
    transition: 0.3s;
}

.navLinks li:hover ~ .active {
    display: block;
}

.navLinks li:nth-child(1):hover ~ .active {
    top: 2.6%;
}

.navLinks li:nth-child(2):hover ~ .active {
    top: 21.2%;
}

.navLinks li:nth-child(3):hover ~ .active {
    top: 41.8%;
}

.navLinks li:nth-child(4):hover ~ .active {
    top: 61.4%;
}

.navLinks li:nth-child(5):hover ~ .active {
    top: 82%;
}

.navIcons {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    filter: invert(100%) sepia(100%) saturate(100%)
}

.active {
    background: #B23850;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(178, 56, 80);
    display: none;
    transition: top 0.3s;
}

.logoIcon {
    display: none;
    width: 45px;
}

@media only screen and (max-width: 600px) {
    .sideNav {
        width: 110px;
    }

    .logo {
        margin-bottom: 40px;
    }

    .logoImg {
        display: none;
    }

    .logoIcon {
        display: block;
    }

    .navLinks li a p {
        display: none;
    }

    .navIcons {
        margin-right: 0;
    }

    .navLinks li a {
        justify-content: center;
    }
}